.mixin.out
banned-ips.json
banned-players.json
crash-reports
journeymap
logs
ops.json
paintings
server.properties
usercache.json
usernamecache.json
whitelist.json
world/datapacks/double shulker shells v1.2.0.zip
